*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/morfitime/application/Constants.kt
/app/src/main/java/com/morfitime/core/BaseViewModel.kt
/app/src/main/java/com/morfitime/data/
/app/src/main/java/com/morfitime/domain/
/app/src/main/java/com/morfitime/presentation/
/app/src/main/java/com/morfitime/ui/MainActivity.kt
/app/src/main/java/com/morfitime/ui/login/
/app/src/main/java/com/morfitime/ui/maps/
/app/src/main/java/com/morfitime/ui/place/account/
/app/src/main/java/com/morfitime/ui/place/home/
/app/src/main/java/com/morfitime/ui/place/ubication/
/app/src/debug
/app/src/release
